html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img, svg {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
}

.stop-scroll {
  overflow: hidden;
}

.flex {
  display: flex
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}


