:root {
  --backgrondScillbox: #212133;
  --blackViolet: #2F2C45;
  --darkViolet: #2E2B44;
  --violet: #3F2AFF;
  --violetGray: #85859B;
  --gray: #666666;
  --white: #fff;

  --bold: 700;
  --regular: 400;
}
